    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/?id={{query.id}}&store={{query.store}}">
        <span class="d-lg-block d-none">Amplience - Content Simplified</span>
        <span class="d-block d-lg-none">Amplience</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown"><a class="nav-link" href="/showJSON?id={{query.id}}&store={{query.store}}">ShowJSON</a></li>
          <li class="nav-item"><a class="nav-link" href="/carousel?id={{query.id}}&store={{query.store}}">Carousel</a></li>
          <li class="nav-item"><a class="nav-link" href="/panels?id={{query.id}}&store={{query.store}}">Panels</a></li>
          <li class="nav-item"><a class="nav-link" href="/panels-ch?id={{query.id}}&store={{query.store}}">Panels - Client Hints</a></li>
          <li class="nav-item"><a class="nav-link" href="/autoformat?id={{query.id}}&store={{query.store}}">Panels</a></li>
          <li class="nav-item"><a class="nav-link" href="/ListContentItems/10/0">List Content Items</a></li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
