<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{#each content.contentSlots}}
      {{#if (eq @index 0)}}
        <div class="carousel-item active">
      {{else}}
        <div class="carousel-item">
      {{/if}}
      {{#if (eq [@type] 'http://c1-qa.adis.ws/c/cmslabs/image-block')}}

          <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="https://i1-qa.adis.ws/i/{{image.endpoint}}/{{image.name}}?$facePoi$&w=1024&sm=aspect&aspect=3:1" media="(min-width: 1024px)">
          <source srcset="https://i1-qa.adis.ws/i/{{image.endpoint}}/{{image.name}}?$facePoi$&w=760&sm=aspect&aspect=2:1" media="(min-width: 760px)">
          <source srcset="https://i1-qa.adis.ws/i/{{image.endpoint}}/{{image.name}}?$facePoi$&w=580&sm=aspect&aspect=16:9" media="(min-width: 580px)">
          <source srcset="https://i1-qa.adis.ws/i/{{image.endpoint}}/{{image.name}}?$facePoi$&w=320&sm=aspect&aspect=1:1" media="(min-width: 320px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="d-block img-fluid" src="https://i1-qa.adis.ws/i/{{image.endpoint}}/{{image.name}}?$facePoi$&w=1024&sm=aspect&aspect=3:1" width="100%" border=0 alt="{{#each image.imgMetaData.metadata.detectedText.textLines}}{{this}} {{/each}}" title="{{#each image.imgMetaData.metadata.detectedText.textLines}}{{this}} {{/each}}"/>
      </picture>
      {{/if}}
      {{#if (eq [@type] 'http://c1-qa.adis.ws/c/cmslabs/content-stack')}}
        {{> slides }}
      {{/if}}
      </div>
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
