{{#if (eq content.[@type] 'http://c1-qa.adis.ws/c/cmslabs/image-block')}}
<div class="col-12">
  <img class="d-block img-fluid" src="https://{{query.vse}}/i/{{content.image.endpoint}}/{{content.image.name}}?fmt=auto" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
</div>
<div class="col-12">
  <img class="d-block img-fluid" src="https://{{query.vse}}/i/{{content.image.endpoint}}/{{content.image.name}}?fmt=auto&qlt=default" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
</div>

<div class="col-12">
  <img class="d-block img-fluid" src="https://{{query.vse}}/i/{{content.image.endpoint}}/{{content.image.name}}?fmt=auto&qlt=default&fmt.jp2.qlt=70&fmt.webp.qlt=90" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
</div>



<div class="col-12">
  <img class="d-block img-fluid" src="https://{{query.vse}}/i/{{content.image.endpoint}}/{{content.image.name}}?fmt=webp&qlt=default" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
</div>

{{/if}}


