

{{#if (eq content.[@type] 'https://example.com/svgbanner')}}
    <div>
      <img class="d-block img-fluid" src="{{content.propertyName1.defaultHost}}/i/{{content.propertyName1.endpoint}}/{{content.propertyName1.name}}" width="100%" border=0 />
      <img alt="Ready. Set. Summer!" class="sitewide-arclpb" src="{{content.propertyName2.defaultHost}}/v1/static/{{content.propertyName2.name}}" width="100%" style="position:absolute; top:0px;">
    </div>
    
{{/if}}