
{{> header }}
{{#if (eq content.template 'Hero')}}
  {{> hero }}
{{/if}}

{{viewport}}

<div class="col-12"></div>
      <img class="d-block img-fluid" src="https://cdn.media.amplience.net/i/bccdemo/{{content.image.name}}?$poi$&fmt=auto" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
  </div>
  <div class="col-12"></div>
      <img class="d-block img-fluid" src="https://cdn.media.amplience.net/i/bccdemo/{{content.image.name}}?$poi$&fmt=auto&fmt.webp.qlt=50" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
  </div>
  <div class="col-12"></div>
      <img class="d-block img-fluid" src="https://cdn.media.amplience.net/i/bccdemo/{{content.image.name}}?$poi$&fmt=auto&qlt=default" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
  </div>
  <div class="col-12"></div>
      <img class="d-block img-fluid" src="https://cdn.media.amplience.net/i/bccdemo/{{content.image.name}}?$poi$&fmt=webp&qlt=default" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
  </div>

  <div class="col-12"></div>
      <img class="d-block img-fluid" src="https://cdn.media.amplience.net/i/bccdemo/{{content.image.name}}?$poi$&fmt=jpg&qlt=default" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
  </div>


{{#if (eq content.[@type] 'http://c1-qa.adis.ws/c/cmslabs/image-block')}}
  <div class="col-12">
    <picture>
      <source type="image/webp" srcset="/retrieveImage/{{content.image.name}}?$poi$&fmt=webp&qlt=50" sizes="(min-width: 1681px) 1680px, 100vw">
      <img class="d-block img-fluid" src="/retrieveImage/{{content.image.name}}?$poi$&fmt=jpg&fmt.jpeg.interlaced=true&qlt=100" sizes="(min-width: 1681px) 1680px, 100vw" border=0 />
    </picture>
    
  </div>

  <div class="col-12">
    <picture>
          <source
        srcset="http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=210&amp;qlt=100 210w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=420&amp;qlt=100 420w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=600&amp;qlt=100 600w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=768&amp;qlt=100 768w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=840&amp;qlt=100 840w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=1000&amp;qlt=100 1000w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=1200&amp;qlt=100 1200w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=1536&amp;qlt=100 1536w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=1800&amp;qlt=100 1800w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=2000&amp;qlt=100 2000w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=webp&amp;w=2400&amp;qlt=100 2400w"
        sizes="(min-width: 1681px) 1680px, 100vw" type="image/webp"><img
        alt="" class="d-block img-fluid"
        sizes="(min-width: 1681px) 1680px, 100vw"
        src="http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=0&amp;h=300&amp;qlt=100"
        srcset="http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=210&amp;qlt=100 210w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=420&amp;qlt=100 420w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=600&amp;qlt=100 600w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=768&amp;qlt=100 768w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=840&amp;qlt=100 840w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=1000&amp;qlt=100 1000w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=1200&amp;qlt=100 1200w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=1536&amp;qlt=100 1536w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=1800&amp;qlt=100 1800w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=2000&amp;qlt=100 2000w,http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?$poi$&fmt=jpg&amp;fmt.jpeg.interlaced=true&amp;w=2400&amp;qlt=100 2400w">

         
      </picture>
  </div>

{{/if}}

{{#if (eq content.[@type] 'http://c1-qa.adis.ws/c/cmslabs/content-stack')}}
  {{> slides}}
{{/if}}

{{#if query.debug }}
  {{#each content }}
  <div class="col-lg-3 col-md-6 col-sm-12">
    {{#each this}}
      <div class="col-lg-3 col-md-6 col-sm-12">
      {{#if (eq @key 'image')}}
        <img src="http://{{this.defaultHost}}/i/{{this.endpoint}}/{{this.name}}?w=200" width=200 border=0 />
        {{#each this.imgMetaData.metadata.detectedText.textLines}}
          {{this}}
        {{/each}}
      {{else if (isArray this)}}
        <div class="row">
          {{> renderAny }}
        </div>
      {{else if (isObject this)}}
        <div class="row">
          {{this}}
          {{> renderAny }}
        </div>
      {{else}}
        <strong>@key: {{@key}}</strong> : value: {{this}}
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/each}}
{{/if}}

    {{> footer }}
  </body>
</html>
