
{{> header }}
{{#if (eq content.template 'Hero')}}
  {{> hero }}
{{/if}}

{{viewport}}

{{#if (eq content.[@type] 'http://c1-qa.adis.ws/c/cmslabs/image-block')}}
  <div class="col-12">
    <img class="img-fluid" src="/retrieveImage/{{content.image.name}}/" sizes="100vw, 50vw, 33vw, 25vw" border=0 />
  </div>
  <div class="col-12">
    <img class="img-fluid" src="http://{{content.image.defaultHost}}/i/{{content.image.endpoint}}/{{content.image.name}}?w={{viewport}}" border=0 />
  </div>
{{/if}}

{{#if (eq content.[@type] 'http://c1-qa.adis.ws/c/cmslabs/content-stack')}}
  {{> slides}}
{{/if}}

{{#if query.debug }}
  {{#each content }}
  <div class="col-lg-3 col-md-6 col-sm-12">
    {{#each this}}
      <div class="col-lg-3 col-md-6 col-sm-12">
      {{#if (eq @key 'image')}}
        <img src="http://{{this.defaultHost}}/i/{{this.endpoint}}/{{this.name}}?w=200" width=200 border=0 />
        {{#each this.imgMetaData.metadata.detectedText.textLines}}
          {{this}}
        {{/each}}
      {{else if (isArray this)}}
        <div class="row">
          {{> renderAny }}
        </div>
      {{else if (isObject this)}}
        <div class="row">
          {{this}}
          {{> renderAny }}
        </div>
      {{else}}
        <strong>@key: {{@key}}</strong> : value: {{this}}
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/each}}
{{else}}
  {{{body}}}
{{/if}}

    {{> footer }}
  </body>
</html>
